.main_content {
    min-height: 760px;

}
.main_nav {
    text-align: center;
    padding-top: 100px;
}
.title {
    margin-left: 770px;
}

.user_detail_input {
    position: absolute;
    display: block;
    width: 220px;
}
.input_date {
    width: 150px;
}

.gender,
.admin_role,
.Japanese_language_staff,
.math_language_staff {
    text-align: center;
    margin-left: -260px;
}
.admin_role{
    margin-left: -130px;
}
.register-admin-danger {
    margin-left: 40%;
}
