.calender-contents {
    min-height: 800px;
    margin-bottom: 50px;
}
.calender-nav {
    margin-left: 15%;
    margin-bottom: 50px;
}
.calender-now-display {
    padding-left: 100px;
    font-size: 2rem;
}
.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
.calender-weeks-head {
    background-color: aqua;
    border: solid 1px #66cdaa;

}
.SchoolCalender {
    width:90%;
    padding-left: 10%;

}
.table-bordered {
    min-height: 700px;
}
.btn-position {
    margin-left: 93%;
}
.calender_td_width {
    width: 70px;
    height: 70px;
}








.day-blank {
	background-color: #efefef !important;
}
.day-sun .day{
	color:red;
}
.day-sat .day{
	color: blue;
}
.calendar table td {
	padding: 3px;
	border: solid 1px #999;
}
.calendar table td:before {
	display: block;
	float: left;
	height: 50px;
	content: "";
}
.calendar table td .day {
	margin-bottom: 0;
}
.calendar table th {
	text-align: center;
	border: solid 1px #999;

}
th.sunday_head {
    color: #d7003a;
    border-bottom-color:#999;
}
th.saturday_head {
    color: #00bfff;
    border-bottom-color:#999;
}
th {
    border-bottom-color:#999 !important;
}
