.day-blank {
	background-color: #efefef !important;
}
.day-sun .day{
	color:red;
}
.day-sat .day{
	color: blue;
}
.calendar table td {
	padding: 3px;
	border: solid 1px #999;
    height: 100px;
    width: 200px;
}
.calendar table td:before {
	display: block;
	float: left;
	height: 50px;
	content: "";
}
.calendar table td .day {
	margin-bottom: 0;
}
.calendar table th {
	text-align: center;
	border: solid 1px #999;

}
th.sunday_head {
    color: red;
    border-bottom-color:#999;
}
th.saturday_head {
    color: blue;
    border-bottom-color:#999;
}
th {
    border-bottom-color:#999 !important;
}
.SchoolCalender {
    margin-top: -50px;
}
