.contents {
    background-color: #f5f5f5;
}
.home_index_page {
    /* margin-bottom: -1000px; */
}
p.footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: -16px;
    /* position: relative; */
    margin-top:23%;
}

li.dropdown_bar {
   list-style: none;
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
}

a {
  text-decoration: none;
}

.login_user  {
  color: #ffffff;
  margin-top: -60px;
  margin-left: 90%;
  font-style:arial black;
}

.dropdwn{
    max-width: 1200px;
    display: flex;
}

ul.dropdwn,
ul.drop_menu {

    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}
ul.drop_menu {
  background: #66cdaa;
}

.dropdwn li{
    width: 1200px;
    margin: 1px;
    /* background: #7ba5ff; */
    display: inline;
}

.drop_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    z-index: 5;
}

.drop_menu li{
    width: 100%;
    z-index: 5;
}

.drop_menu li a{
    padding: 5px 0;
    margin: -1% 1% -1% -1%;
    display: block;
    color: #ffffff;
    z-index: 5;

}

li a:hover{
    /* background: #ffffff; */
    color: #000000;
    z-index: 5;
}
.nav_btn {
    display: inline-block;
    margin-left: 75%;
}
.btn {
  font-family: 'Courier New', Courier, monospace;
}

.category-btn {
  color: #fff;
  background-color:cadetblue;
  width: 300px;
  margin-top: 50px;
}
.post-btn {
  color: #fff;
  background-color:aquamarine;
  width: 300px;
}

.my_post_btn {
  color: #fff;
  background-color:coral;
  width: 145px;
}

.my_post_favorite_btn {
  color: #000000;
  margin-top: -65px;
  margin-left: 150px;
  width: 145px;
  font-size:0.9rem;
}
.search_btn {
  color: #fff;
  background-color:deeppink;
  margin-top: -3px;
  width: 145px;
}

.search_form {
  color: #fff;
  height: 38px;
  width: 145px;
}

.category_title {
  font-size:x-large;
  font-style:arial black;
  color: #a9a9a9;
}

#post_sub_category_search {
  display: block;
  margin-top: 10px;
  height: 38px;
  width: 145px;
}

.category_reset_btn {
  color: #fff;
  background-color:indianred;
  margin-left: 150px;
  margin-top: -67px;
  width: 145px;
}

.paginate {
    position: absolute;
    margin-left: 32%;
    padding-top: 50px;
}

.edit_item {
    width: 80%;
    padding-left: 40%;
    padding-top: 50px;
    font-size: 1.1rem;
    margin-bottom: -120px;
}

.create_item {
    border: solid 1px #dcdcdc;
    display: block;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.create_item_form {
    height: 180px;
}

button.post_register_btn {
    margin-top: 30px;
    margin-left: 42%;
}

.back_btn {
    position: absolute;
    margin-left: 40%;
    margin-top: 75px;
}
