.home_index_page {
    min-height: 800px;
}

.contents {
    background-color: #f5f5f5;
    height: 100%;
    min-height: 800px;
}

.back_btn {
    margin-left: 30px;
}

.comment_delete_btn {
    margin-left: 22%;
    margin-top: -55px;
}
.post_delete_btn {
    margin-top: -38px;
    margin-left: 25%;
}
.top_header {
    height: 100px;

}

p.footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: -16px;
}

li.dropdown_bar {
   list-style: none;
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
}

a {
  text-decoration: none;
}

.login_user  {
  color: #ffffff;
  margin-top: -60px;
  margin-left: 90%;
  font-style:arial black;
}

.dropdwn{
    max-width: 1200px;
    display: flex;
}

ul.dropdwn,
ul.drop_menu {

    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}
ul.drop_menu {
  background: #66cdaa;
}

.dropdwn li{
    width: 185px;
    margin: 1px;
    /* background: #7ba5ff; */
    display: inline;
}

.drop_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    z-index: 5;
}

.drop_menu li{
    width: 100%;
    z-index: 5;
}

.drop_menu li a,
.side_nav_bar li a{
    padding: 5px 0;
    margin: -1% 1% -1% -1%;
    display: block;
    color: #ffffff;
    z-index: 5;

}

li a:hover{
    /* background: #ffffff; */
    color: #000000;
    z-index: 5;
}
.nav_btn {
    display: inline-block;
    margin-left: 88%;
}
.btn {
  font-family: 'Courier New', Courier, monospace;
}

.category-btn {
  color: #fff;
  background-color:cadetblue;
  width: 300px;
  margin-top: 50px;
}
.post-btn {
  color: #fff;
  background-color:aquamarine;
  width: 300px;
}

.my_post_btn {
  color: #fff;
  background-color:coral;
  width: 145px;
}

.my_post_favorite_btn {
  color: #000000;
  margin-top: -65px;
  margin-left: 150px;
  width: 145px;
  font-size:0.9rem;
}
.search_btn {
  color: #fff;
  background-color:deeppink;
  margin-top: -3px;
  width: 145px;
}

.search_form {
  color: #000000;
  height: 38px;
  width: 145px;
}

.category_title {
  font-size:x-large;
  font-style:arial black;
  color: #a9a9a9;
}

#post_sub_category_search {
  display: block;
  margin-top: 10px;
  height: 38px;
  width: 145px;
}

.category_reset_btn {
  color: #fff;
  background-color:indianred;
  margin-left: 150px;
  margin-top: -67px;
  width: 145px;
}

.paginate {
    /* position: absolute; */
    margin-left: 43%;
    padding-top: 50px;
    margin-bottom: 50px;
}

.edit_item {
    min-height: 800px;
    width: 80%;
    padding-left: 40%;
    padding-bottom: 200px;
    padding-top: 50px;
    font-size: 1.1rem;

}

.category_item {
    padding-bottom: 200px;
    padding-top: 50px;
    font-size: 1.1rem;
    min-height: 760px;
}

.create_item {
    border: solid 1px #dcdcdc;
    display: block;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.create_item_form,
.edit_comment_form {
    height: 180px;
}

.create_form_btn {
    padding-top: 20px;
}

.post_register_btn,
.comment_edit_btn {
    margin-left: 40%;
}

.create_maincategory {
    border: solid 1px #dcdcdc;
    padding: 10px 5px;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: #ffffff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-left: 37%;
    margin-top: 50px;
}

.post_main_category_id {
    border: solid 1px #dcdcdc;
    padding: 10px 5px;
    border-radius: 0.5rem;
    display: inline-block;
    background-color: #ffffff;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-left: 30%;
    margin-top: 50px;
}

.added_category_list {
    padding-top: 50px;
    padding-left: 30%;
}

.category_list {
    font-size: 1.5rem;
    padding-left: 270px;
}

.delete_main_category {
    margin-left: 10%;
}

a.main_category_title,
.delete_sub_category {
    font-size: 1rem;
}
.main_category_title {
    font-size: 1.5rem;
    /* display: inline-block; */
    padding-left: 10%;
    padding-top: 30px;
}

.sub_category_title {
    /* display: inline-block; */
    margin-left: 30%;
   padding-top: -40px;
}

.item_detail {
    display: inline-block;
    margin-left: 33%;
    width: 700px;
    min-height: 500px;
    margin-top: -150px;
}

.item_detail_contents {
    border: solid 1px #a9a9a9;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #ffffff;
}

.item_detail_date {
    color: #a9a9a9;
    padding-left: 70%;
    margin-top: -30px;
}

.item_detail_post {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5rem;
}

.item_detail_view {
    color: #a9a9a9;
    padding-left: 70%;
}

.item_detail_comment {
    display: inline-block;
}

.item_detail_favorite_count {
    display: inline-block;
}

.item_detail_favorite {
    display: inline-block;
    margin-left: 50%;
    margin-top: -50px;
}

.post_comment_request {
    margin-left: 33%;
    padding-top: 150px;
    padding-bottom: 60px;
}

.comment_form {
    width: 600px;
    height: 100px;
    border: solid 1px #a9a9a9;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.comment_button {
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #66cdaa;
}

.post_comment_list {
    margin: 10px;
    padding: 20px;
    display: inline-block;
    margin-left: 33%;
    border: solid 1px #a9a9a9;
    width: 700px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: #ffffff;
}

.comment_username,
.replies_username {
    display: inline-block;
}
.comment_date,
.replies_date {
    display: inline-block;
    color: #a9a9a9;
}
.comment_detail,
.replies {
    padding-left: 20px;
    font-size: 1.2rem;
}
.favorite_count {
    display: inline-block;
}
a.comment_favorite {
    margin-left: 72%;
    display: inline-block;
    padding-top: -50px;
}
.comment_replies {
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 1rem;
    width: 75%;
    padding-left: 30px;
    margin-left: 170px;
    margin-top: -50px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.replies_icon {
    display: block;
    margin-left: 50px;
    margin-top: 60px;
    font-size: 30px;
}

.replies_edit {
    margin-left: 420px;
    margin-top: 0px;
}

.replies_form {
    padding-top: 30px;
}
.replies_text_form {
    border: 1px solid #a9a9a9;
    border-radius: 0.3rem;
    width: 600px;
    height: 40px;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.replies_button {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: -10px;
    background-color: #ffffff;
    border: none;
}
