.mypage_box {
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.file_upload {
    margin: 22px auto;
    padding: 15px;
    border-radius: 5rem;
    max-width: 120px;
    text-align: center;
    display: block;
    cursor: pointer;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}
.edit_item {
    display: block;
    align-items: center;
}
