.item_box {
    width: 700px;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
}

.username,
.user_age,
.user_gender {
    display: inline-block;
}
.all_user_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 50px;
  margin-right: -200px;
  margin-left: 200px;
}

.user_item_box {
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    padding-top: 30px;
    border: solid 1px #dcdcdc;
    border-radius: 1rem;
    width: 280px;
    height: 350px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
